<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
<meta charset="UTF-8" />
<title>AirGraph - RTM Editor</title>
    
<!--/* 共通ヘッダ読み込み */-->
<link th:replace="common/head :: common_link" />

<!--/* RTC編集用Javascript読み込み */-->
<script type="text/javascript" th:src="@{/js/common.js}"             src="/js/common.js"></script>
<script type="text/javascript" th:src="@{/js/zip.js}"                src="/js/zip.js"></script>
<script type="text/javascript" th:src="@{/js/rt-main.js}"            src="/js/rt-main.js"></script>
<script type="text/javascript" th:src="@{/js/rt-component.js}"       src="/js/rt-component.js"></script>
<script type="text/javascript" th:src="@{/js/rt-contextmenu.js}"     src="/js/rt-contextmenu.js"></script>
<script type="text/javascript" th:src="@{/js/rt-dao.js}"             src="/js/rt-dao.js"></script>
<script type="text/javascript" th:src="@{/js/rt-form.js}"            src="/js/rt-form.js"></script>
<script type="text/javascript" th:src="@{/js/dataset-main.js}"       src="/js/dataset-main.js"></script>

<script th:inline="javascript">
/*[-----------------------------
 * コンポーネント領域定義
 * -----------------------------]*/

/*[- コンポーネント領域オブジェクトマップ -]*/
var componentAreaData = new Object(); /*[- 全データ -]*/
var systemMap = new Object(); /*[- Package -]*/
var componentMap = new Object(); /*[- Component -]*/

/*[-----------------------------
 * 作業領域定義
 * -----------------------------]*/
/*[- 現在の作業領域名 -]*/
var WORKSPACE_PREFIX = 'rts_';
var curWorkspaceName;
var workspaceCounter = 0;
 
/*[- 状態管理 -]*/
var STATE = {INIT : 0, EDIT : 1, EXEC : 3};
var curState = STATE.EDIT;
var modalCnt = 0;

/*[- 作業領域オブジェクトマップ -]*/
var mainRtsMap = new Object();

/*[- 作業領域描画フィールド -]*/
var mainGraph;
var mainPaper;

/*[- ソースエディタ -]*/
var sourceEditor;
var wasanbonLogViewer;
var pythonLogViewer;

/*[- 作業領域に追加したモデル数（累計） -]*/
var counter = 0;

/*[- 選択中モデル -]*/
var selectedCellViews = [];

/*[- ログ監視用タイマ変数 -]*/
var tailTimerID = 0;

/*[- ロック数 -]*/
var lockCnt = 0;

/*[- ホスト関連 -]*/
var hostMap = new Object();
var airGraphHostMap = new Object();

/*[-----------------------------
 * 選択肢
 * -----------------------------]*/
/*[- コンポーネント型 -]*/
function getComponentTypeChoices() {
  return /*[[${componentTypeChoices}]]*/;
}

/*[- アクティビティ型 -]*/
function getActivityTypeChoices() {
  return /*[[${activityTypeChoices}]]*/;
}

/*[- コンポーネント種類 -]*/
function getComponentKindChoices() {
  return /*[[${componentKindChoices}]]*/;
}

/*[- 実行型 -]*/
function getExecutionTypeChoices() {
  return /*[[${executionTypeChoices}]]*/;
}

/*[- ポート表示位置 -]*/
function getPortPositionChoices() {
  return /*[[${portPositionChoices}]]*/;
}

/*[- 接続時インタフェース種別 -]*/
function getConnectInterfaceTypeChoices() {
  return /*[[${connectInterfaceTypeChoices}]]*/;
}

/*[- 接続時データフロー種別 -]*/
function getConnectDataflowTypeChoices() {
  return /*[[${connectDataflowTypeChoices}]]*/;
}

/*[- 接続時サブスクリプション種別 -]*/
function getConnectSubscriptionTypeChoices() {
  return /*[[${connectSubscriptionTypeChoices}]]*/;
}

/*[- インタフェース向き -]*/
function getIfDirectionChoices() {
  return /*[[${ifDirectionChoices}]]*/;
}

/*[- コンフィギュレーション設定 -]*/
function getConfigurationTypeChoices() {
  return /*[[${configurationTypeChoices}]]*/;
}

/*[- コンフィギュレーションウィジェット設定 -]*/
function getConfigurationWidgetChoices() {
  return /*[[${configurationWidgetChoices}]]*/;
}

/*[-----------------------------
 * URL
 * -----------------------------]*/
/*[- コンポーネント領域展開 -]*/
function getUrlLoadComponentArea() {
   return /*[[@{/main/loadComponentArea}]]*/;
}
 
/*[- すべての作業領域展開 -]*/
function getUrlLoadAllWorkspace() {
   return /*[[@{/main/loadAllWorkspace}]]*/;
 }
 
/*[- 指定作業領域展開 -]*/
function getUrlLoadWorkspace() {
  return /*[[@{/main/loadWorkspace}]]*/;
}

/*[- 作業領域ドロップ -]*/
function getUrlDropRts() {
  return /*[[@{/main/addPackage}]]*/;
}

/*[- package更新 -]*/
function getUrlUpdatePackage() {
  return /*[[@{/main/updatePackage}]]*/;
}

/*[- package削除 -]*/
function getUrlDeletePackage() {
  return /*[[@{/main/deletePackage}]]*/;
}

/*[- Component追加 -]*/
function getUrlAddComponent() {
  return /*[[@{/main/addComponent}]]*/;
}

/*[- 新規Component追加 -]*/
function getUrlCreateNewComponent() {
  return /*[[@{/main/createNewComponent}]]*/;
}

/*[- Logger追加 -]*/
function getUrlAddLogger() {
  return /*[[@{/main/addLogger}]]*/;
}

/*[- Component削除 -]*/
function getUrlDeleteComponent() {
  return /*[[@{/main/deleteComponent}]]*/;
}

/*[- logging可能かの調査 -]*/
function getUrlCanLogging() {
  return /*[[@{/main/canLogging}]]*/;
}

/*[- パッケージ名が使用可能かの調査 -]*/
function getUrlAvailablePackageName() {
  return /*[[@{/main/isAvailablePackageName}]]*/;
}

/*[- コンポーネント名が使用可能かの調査 -]*/
function getUrlAvailableComponentName() {
  return /*[[@{/main/isAvailableComponentName}]]*/;
}

/*[- IDLファイルの一覧取得 -]*/
function getURLIdlFileChoices() {
  return /*[[@{/main/idlFileChoices}]]*/;
}

/*[- Datatype型の一覧取得 -]*/
function getURLDataTypeChoices() {
  return /*[[@{/main/dataTypeChoices}]]*/;
}

/*[- 接続用Datatype型の一覧取得 -]*/
function getURLConnectorDataTypeChoices() {
  return /*[[@{/main/connectorDataTypeChoices}]]*/;
}

/*[- インタフェース型の一覧取得 -]*/
function getURLInterfaceTypeChoices() {
  return /*[[@{/main/interfaceTypeChoices}]]*/;
}

/*[- デプロイ -]*/
function getUrlDeploy() {
  return /*[[@{/main/deploy}]]*/;
}

/*[- 全ビルド -]*/
function getUrlBuildAll() {
  return /*[[@{/main/buildPackageAll}]]*/;
}

/*[- 全クリーン -]*/
function getUrlCleanAll() {
  return /*[[@{/main/cleanPackageAll}]]*/;
}

/*[- 実行 -]*/
function getUrlRunSystem() {
  return /*[[@{/main/runSystem}]]*/;
}

/*[- コネクト -]*/
function getUrlConnectPorts() {
  return /*[[@{/main/connectPorts}]]*/;
}

/*[- アクティベイトまたはディアクティベイト -]*/
function getUrlActivateOrDeactivateRTCs() {
  return /*[[@{/main/activateOrDeactivateRtcs}]]*/;
}

/*[- スタート -]*/
function getUrlStartRTCs() {
  return /*[[@{/main/StartRTCs}]]*/;
}

/*[- 停止 -]*/
function getUrlTerminateSystem() {
  return /*[[@{/main/terminateSystem}]]*/;
}

/*[- 実行状況確認 -]*/
function getUrlIsRunningPackage() {
  return /*[[@{/main/isRunningPackage}]]*/;
}

/*[- ログ監視 -]*/
function getUrlTailLog() {
  return /*[[@{/main/tailLog}]]*/;
}

/*[- wasanbon.log取得 -]*/
function getUrlGetExecuteWasanbonLog() {
  return /*[[@{/main/getExecuteWasanbonLog}]]*/;
}

/*[- wasanbon.log取得 -]*/
function getUrlClearExecuteWasanbonLog() {
  return /*[[@{/main/clearExecuteWasanbonLog}]]*/;
}

/*[- 画像監視 -]*/
function getUrlTailImage() {
  return /*[[@{/main/tailImage}]]*/;
}

/*[- 画像監視 -]*/
function getUrlGetImage() {
  return /*[[@{/main/getImage}]]*/;
}

/*[- 結果取得 -]*/
function getUrl() {
  return /*[[@{/main/getResult}]]*/;
}

/*[- IDLアップロード -]*/
function getUrlIdlUpload() {
  return /*[[@{/main/idlUpload}]]*/;
}

/*[- PackageCommit -]*/
function getUrlCommitPackage() {
  return /*[[@{/main/commitPackage}]]*/;
}

/*[- PackagePush -]*/
function getUrlPushPackage() {
  return /*[[@{/main/pushPackage}]]*/;
}

/*[- PackagePull -]*/
function getUrlPullPackage() {
  return /*[[@{/main/pullPackage}]]*/;
}

/*[- ComponentCommit -]*/
function getUrlCommitComponent() {
  return /*[[@{/main/commitComponent}]]*/;
}

/*[- ComponentPush -]*/
function getUrlPushComponent() {
  return /*[[@{/main/pushComponent}]]*/;
}

/*[- ComponentPull -]*/
function getUrlPullComponent() {
  return /*[[@{/main/pullComponent}]]*/;
}

/*[- コミットハッシュを取得 -]*/
function getUrlGetCommitHash() {
  return /*[[@{/main/getCommitHash}]]*/;
}

/*[- CheckPackageStatus -]*/
function getUrlCheckPackageStatus() {
  return /*[[@{/main/checkPackageStatus}]]*/;
}

/*[- checkRtcsStatus -]*/
function getUrlCheckRtcsStatus() {
  return /*[[@{/main/checkRtcsStatus}]]*/;
}

/*[- checkNameserverStatus -]*/
function getUrlCheckNameserverStatus() {
  return /*[[@{/main/checkNameserverStatus}]]*/;
}

/*[- Keras表示 -]*/
function getUrlKerasMain() {
  return /*[[@{/keras}]]*/;
}

/*[- Kerasモデル設定 -]*/
function getUrlKerasModelChoices() {
  return /*[[@{/main/getKerasModelChoices}]]*/;
}

/*[- データセット選択肢 -]*/
function getUrlDatasetChoices() {
  return /*[[@{/main/getDatasetChoices}]]*/;
}

/*[- DNNモデル更新 -]*/
function getUrlUpdateDnnModels() {
  return /*[[@{/main/updateDnnModels}]]*/;
}

/*[- Datasetのデータ一覧取得 -]*/
function getUrlGetDatasetDataList() {
  return /*[[@{/keras/getDatasetDataList}]]*/;
}

/*[- ホスト定義ファイルに新規登録 -]*/
function getUrlregisterHostToConfigFile() {
  return  /*[[@{/main/registerHostToConfigFile}]]*/;
}

/*[- AirGraph用ホストを新規登録 -]*/
function getUrlAddAirGraphHost() {
  return  /*[[@{/main/addAirGraphHost}]]*/;
}

/*[- ホスト名、または(IP, Port)が重複しないか判定する -]*/
function getUrlIsHostNameUnique(){
	return  /*[[@{/main/isHostNameUnique}]]*/;
}

/*[- ホストIDが重複しないか判定する -]*/
function getUrlIsHostIdUnique(){
	return  /*[[@{/main/isHostIdUnique}]]*/;
}
/*[- ホスト定義ファイルを読み込む -]*/
function getUrlloadHostList() {
  return  /*[[@{/main/loadHostList}]]*/;
}

/*[- ホスト定義ファイルを更新する -]*/
function getUrlUpdateHostConfigFile() {
  return  /*[[@{/main/updateHostConfigFile}]]*/;
}

/*[- RTCホスト割り当てファイルを更新する -]*/
function getUrlUpdateRTCHostAssignFile() {
  return  /*[[@{/main/updateRTCHostAssignFile}]]*/;
}

/*[- GitHub設定ファイルを取得する -]*/
function getUrlGetGitHubConfigFile(){
  return  /*[[@{/main/getGitHubConfigFile}]]*/;
}

/*[- GitHub設定ファイルを取得する -]*/
function getUrlCreateBinder(){
  return  /*[[@{/main/createBinder}]]*/;
}
/*[- Airgraphのバージョン確認 -]*/
function getUrlAitgraphVersion() {
	return /*[[@{/main/getAirgraphVersion}]]*/;
}

/*[- Wasanbonのバージョン確認 -]*/
function getUrlWasanbonVersion() {
	return /*[[@{/main/getWasanbonVersion}]]*/;
}

/*[- Binderにパッケージを追加する -]*/
function getUrlUpdateBinder() {
  return  /*[[@{/main/updateBinder}]]*/;
}

/*[- Binderにパッケージを追加する -]*/
function getUrlAddPackageToBinder() {
  return  /*[[@{/main/addPackageToBinder}]]*/;
}
/*[- Binderのパッケージを更新する -]*/
function getUrlUpdatePackageToBinder() {
  return  /*[[@{/main/updatePackageToBinder}]]*/;
}
/*[- BinderにRTCを追加する -]*/
function getUrlAddRTCToBinder() {
  return  /*[[@{/main/addRtcToBinder}]]*/;
}
/*[- BinderのRTCを更新する -]*/
function getUrlUpdateRTCToBinder() {
  return  /*[[@{/main/updateRtcToBinder}]]*/;
}

/*[- BinderをCommitする -]*/
function getUrlCommitBinder() {
  return  /*[[@{/main/commitBinder}]]*/;
}

/*[- BinderをPushする -]*/
function getUrlPushBinder() {
  return  /*[[@{/main/pushBinder}]]*/;
}

/*[- nameserver start -]*/
function getUrlStartNameserver() {
  return  /*[[@{/main/startNameserver}]]*/;
}

/*[-----------------------------
 * 定義ファイル読み込み
 * -----------------------------]*/
function getDefaultGitUrlBase() {
  return /*[[${@environment.getProperty('default.git.url.base')}]]*/
}

function getDatasetDirectoryPath() {
  return /*[[${@environment.getProperty('dataset.directory.path')}]]*/
}

/*[-----------------------------
 * 起動処理
 * -----------------------------]*/
/*[- 起動時処理 -]*/
$(function() {
  /*[- 全体初期レイアウト処理 -]*/
  layoutPanelAll();
  
  /*[- ツールバー生成 -]*/
  setToolbarComponent();
  
  /*[- 作業領域情報設定 -]*/
  createMainGraphArea();
  createSourceEditor();
  createLogViewer();
  
  /*[- コンフィギュレーション領域設定 -]*/
  layoutPanelConfiguration();
  createComponentGrid();
  createConfigurationSetGrid();
  
  /*[- コンポーネント右クリックメニュー設定 -]*/
  createContextMenuMainPaper();
  
  /*binderを更新する*/
  updateBinder();
  
  /*[- コンポーネント領域情報を展開する -]*/
  loadAllComponentArea();
});
</script>
</head>
<body>
  <!--/*<form id="mainForm" name="mainForm" method="POST" th:action="@{/main/getResult}" th:object="${mainForm}">*/-->
    <!--/* 全領域 */-->
    <div id="layout-panel"></div>
    <!--/* エディタ */-->
    <div id="source-editor-parent"><div id="source-editor" style="height:100%; width:99%"></div></div>
    <div id="monaco-editor-parent"><div id="monaco-editor" style="height:100%; width:99%"></div></div>
    <div id="wasanbon-log-parent"><div id="wasanbon-log" style="height:100%; width:99%"></div></div>
    <div id="python-log-parent"><div id="python-log" style="height:100%; width:99%"></div></div>
  <form id="idlUploadForm" name="idlUploadForm" method="post" enctype="multipart/form-data" th:action="@{/main/idlUpload}">
    <input type="file" id="idl-upload" name="idl-upload" style="display:none" onchange="uploadIdlFile();"></input>
    <input type="hidden" id="idl-package-name" name="idl-package-name"></input>
    <input type="hidden" id="idl-component-name" name="idl-component-name"></input>
  </form>
  
  <!--/* RTCアイコンのグラデーション定義 */-->
  <svg xmlns="http://www.w3.org/2000/svg">
	  <defs>
	    <linearGradient id="GradientExec" x1="0" x2="0" y1="0" y2="100%">
	      <stop offset="0%" stop-color="#b2ffb5" />
	      <stop offset="100%" stop-color="#3dff32" />
	    </linearGradient>
	  </defs>
	  
	  <defs>
	    <linearGradient id="GradientEdit" x1="0" x2="0" y1="0" y2="100%">
	      <stop offset="0%" stop-color="#b2d8ff" />
	      <stop offset="100%" stop-color="#3399ff" />
	    </linearGradient>
	  </defs>
</svg>

</body>
</html>