<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_link" th:remove="tag">

<!--/* CSS */-->
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"            href="/css/jquery-ui.min.css" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.structure.min.css}"  href="/css/jquery-ui.structure.min.css" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.theme.min.css}"      href="/css/jquery-ui.theme.min.css" />
<link rel="stylesheet" th:href="@{/css/jquery.contextMenu.css}"       href="/css/jquery.contextMenu.css" />
<link rel="stylesheet" th:href="@{/css/w2ui-1.3.min.css}"             href="/css/w2ui-1.3.min.css" />
<link rel="stylesheet" th:href="@{/css/font-awesome.css}"             href="/css/font-awesome.css" />
<link rel="stylesheet" th:href="@{/css/style.css}"                    href="/css/style.css" />
<link rel="stylesheet" th:href="@{/css/joint.css}"                    href="/css/joint.css" />
<link rel="stylesheet" th:href="@{/mimosa/vs/editor/editor.main.css}" href="/mimosa/vs/editor/editor.main.css" />

<!--/* JavaScript */-->
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"  src="/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"      src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.contextMenu.js}" src="/js/jquery.contextMenu.js"></script>
<script type="text/javascript" th:src="@{/js/w2ui-1.3.min.js}"       src="/js/w2ui-1.3.min.js"></script>
<script type="text/javascript" th:src="@{/js/lodash.js}"             src="/js/lodash.js"></script>
<script type="text/javascript" th:src="@{/js/backbone.js}"           src="/js/backbone.js"></script>
<script type="text/javascript" th:src="@{/js/joint.js}"              src="/js/joint.js"></script>
<script type="text/javascript" th:src="@{/mimosa/vs/loader.js}"      src="/mimosa/vs/loader.js"></script>

<!--/* favicon */-->
<link rel="shortcut icon" th:href="@{/img/sec_logo.png}"/>

</head>
</html>